@forward '../public/assets/css/styles.css';
@forward '../public/assets/css/icons.css';

//*** PLUGINS CSS IMPORTS ***//

.custom-date-picker {
  width: 100%;
  > .react-datepicker-wrapper {
    width: 100% !important;
  }
}

textarea {
  resize: none;
}

.blog-image {
  width: 100%;
  aspect-ratio: 1/1;
  max-width: 600px;
  object-fit: cover;
}

.image-wrapper {
  display: flex !important;
  flex-direction: column !important;
  gap: 8px;
  justify-content: center !important;
  align-items: flex-start !important;
  .image-caption {
    text-align: center;
  }
}
