@forward '../public/assets/css/styles.css';
@forward '../public/assets/css/icons.css';

//*** PLUGINS CSS IMPORTS ***//

.custom-date-picker {
  width: 100%;
  > .react-datepicker-wrapper {
    width: 100% !important;
  }
}

textarea {
  resize: none;
}

.blog-image {
  width: 100%;
  aspect-ratio: 1/1;
  max-width: 600px;
  object-fit: cover;
}
